@using OurRecipes.Models.Recipes;
@model RecipeViewModel;
@{
    ViewData["Title"] = "Recipe details";
    int count = 1;
}

<section class="cards section-bg">
    <div class="section-header">
        <p>@Model.Title</p>
        <h2>Recipe details</h2>
    </div>
    
    <div class="container recipe-container" data-aos="fade-up">
        <div class="row justify-content-center">
            <img class="cover-img col-lg-6 col-md-11" src="~/img/chicken-recipes-card.jpg" />
            <div class="col-lg-6 col-md-12">
                <div>
                    <span>Author </span>
                    <a asp-area="" asp-controller="Recipes" asp-action="ByUser" asp-route-userName=@Model.AuthorName>@Model.AuthorName</a>
                </div>
                <div class="d-flex flex-row">
                    <i class="p-2 bi bi-heart"></i>
                    <div class="p-2">@Model.Rating likes</div>
                    <div class="p-2">
                        <a href="#Comments">Comments</a>
                    </div>
                </div>
                <div class="plan">
                    <div class="d-flex justify-content-start">
                        <div class="d-flex">
                            <i class="p-2 bi bi-clock"></i>
                            @if (Model.PrepTime != null && Model.PrepTime.Contains("mins"))
                            {
                                <div class="p-2 cook-prep-time">Prep: @Model.PrepTime</div>
                            }
                            else
                            {
                                <div class="p-2 cook-prep-time">Prep: @Model.PrepTime mins</div>
                            }
                        </div>
                        <div class="d-flex">
                            <i class="p-2 bi bi-clock"></i>
                            @if (Model.CookTime!=null && Model.CookTime.Contains("mins"))
                            {
                                <div class="p-2 cook-prep-time">Cook: @Model.CookTime</div>
                            }
                            else
                            {
                                <div class="p-2 cook-prep-time">Cook: @Model.CookTime mins</div>
                            }
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <div class="d-flex">
                            <img class="p-2" style="width:32px;height:32px;" src="~/img/servings.svg" />
                            <div class="p-2 servings">Servings:  @Model.Servings</div>
                        </div>
                        <div class="d-flex">
                            <img class="p-2" style="width:32px;height:32px;" src="~/img/difficulty.svg" />
                            <a asp-area="" asp-controller="Recipes" asp-action="ByCategory" asp-route-categoryName="@Model.Difficulty">@Model.Difficulty</a>
                        </div>
                        </div>
                </div>
                <div class="categories p-2">
                    <h5>Categories: </h5>
                    <ul class="d-flex flex-row custom-list">
                        @foreach (var category in Model.Categories)
                        {
                            <li class="px-2 link">
                                <a asp-area="" asp-controller="Recipes" asp-action="ByCategory" asp-route-categoryName="@category">@category</a>
                            </li>
                        }
                    </ul>
                    
                </div>
                <div class="description">
                    <p>
                        @Model.Description
                    </p>
                </div>
                
            </div>
        </div>
        </div>
    <div class="container p-3" data-aos="fade-up">
        <div class="row justify-content-center">
            <div class="ingredients col-lg-6 col-md-12">
                <h4>Ingredients</h4>
                <ul class="list-group-flush custom-list">
                    @foreach (var component in Model.Components)
                    {
                        <li class="list-group-item list-group-item-action">
                            <p>@count. @component.Text</p>
                        </li>
                            count++;
                    }
                    @if (Model.Sections!=null && Model.Sections.Count > 0)
                    {
                        @foreach (var item in Model.Sections)
                        {
                            <li>
                                <span>@item.Name</span>
                            </li>
                            @foreach (var component in item.Components)
                            {
                                <li class="list-group-item list-group-item-action">
                                    <p>@count. @component.Text</p>
                                </li>
                                count++;
                            }
                        }
                    }
                </ul>
            </div>
            <div class="instructions col-lg-6 col-md-12">
                <h4>Instructions</h4>
                <ul class="list-group custom-list"></ul>
                @for (int i = 1; i < Model.Instructions.ToArray().Length-1; i++)
                {
                    <li class="list-group-item list-group-item-action">
                        <p class="p-2">@i. @Model.Instructions[i]</p>
                    </li>
                }
            </div>
        </div>
    </div>
    <div class="container">
        <h5>Nutrition per serving:</h5>
        <ul class="custom-list">
            @foreach (var nutrient in Model.Nutrients)
            {
                <li class="nutrition-block">
                    <div name="nutrition name">@nutrient.Name</div>
                    @if (nutrient.Name.ToLower() == "kcal")
                    {
                        <div name="nutrient quantity">@nutrient.Quantity</div>
                    }
                    else
                    {
                        <div name="nutrient quantity">@nutrient.Quantity g</div>
                    }
                </li>
            }
        </ul>
    </div>
</section>
<partial name="_Comment"/>
