@using OurRecipes.Models.Recipes;
@model List<RecipeByUserViewModel>;
@{
    ViewData["Title"] = "My favourite recipes";
}

<section id="recipe-cards" class="cards section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <p>My <span>Favourite</span> Recipes</p>
            <h2>My Favourite Recipes</h2>
        </div>
        <div>
            @foreach (var element in Model)
            {
                <a asp-controller="Recipes" asp-action="Details" asp-route-id="@element.Id">
                    <div class="tb-item">
                        <div>
                            <h6>@element.Title</h6>
                        </div>
                        <div class="d-flex justify-content-lg-start">
                            <div class="member-img">
                                @if (String.IsNullOrEmpty(element.ImageUrl))
                                {
                                    <img class="card-img" src="~/img/chicken-recipes-card.jpg" />
                                }
                                else
                                {
                                    <img class="card-img" src="@element.ImageUrl" />
                                }
                                <div>
                                    <p>@element.AuthorName</p>
                                </div>
                            </div>
                            <div class="p-2">
                                <h6>Description:</h6>
                                <span class="p-2">@element.Description</span> <br>

                                <h6 >Categories:</h6
                                <div class="d-flex-inline justify-content-start">
                                    @foreach (var category in element.Categories)
                                    {
                                        <a class="p-2" style="color:red;text-decoration:underline" asp-controller="Recipes" asp-action="ByCategory" asp-route-categoryName="@category.Name">@category.Name</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</section>
